@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat Alternates SemiBold'), url('../assets/fonts/MontserratAlternates-SemiBold.ttf') format('truetype');
  }

  